body {
  background-image: url(background-pixel-art-gif.gif);
}
#title {
  text-align: center;
  margin-top: 30px;
  color: rgb(247, 239, 243);
  font-family: Arial, Helvetica, sans-serif;
}

#color-palette {
  padding-left: 30%;
}

.color {
  border: solid 1px black;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-left: 50px;
  margin-top: 30px;
  border-radius: 10px;
}

#black {
  background-color: black;
}
#blue {
  background-color: blue;
}
#pink {
  background-color: pink;
}
#yellow {
  background-color: yellow;
}

#pixel-board {
  padding-left: 41%;
  padding-top: 40px;
}

.pixel {
  background-color: white;
  border: solid 1px black;
  display: inline-block;
  width: 40px;
  height: 40px;
}

#clear-board {
  margin-left: 46.5%;
  border-radius: 5px;
  padding: 7px 15px;
  background-color: rgb(138, 43, 226);
  border: 0px;
}

.white {
  background-color: white;
}
